.password-toggle {
    display: flex;
    flex-direction: column;
  }
  
  .password-toggle-label {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .input.input-bordered {
    padding: 8px;
    font-size: 16px;
  }
  